<header class="rl-header -large">
  <%= link_to home_path, class: 'branding' do %>
    <%= image_tag('logo.svg') %>
  <% end %>
</header>

<main class="rl-main">

  <%= link_to 'Artistas', artists_path, class: 'rl-button' %>
  <%= link_to 'Eventos', events_path, class: 'rl-button' %>

</main>
