<header class="rl-header">
  <a class="branding" href="#">Rolê Local</a>
</header>

<main class="rl-main">

  <%= link_to 'Artistas', artists_path, class: 'rl-button' %>
  <%= link_to 'Eventos', events_path, class: 'rl-button' %>

</main>
