.rl-header
  height: $space-header
  color: #fff
  display: flex
  flex-direction: row
  color: transparent

  > .branding
    background-color: gold

  > .title
    background-color: pink
    flex-grow: 1
